# -FrontPage-


<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthUserFile /home5/servicr5/public_html/_vti_pvt/service.pwd
AuthGroupFile /home5/servicr5/public_html/_vti_pvt/service.grp
# Use PHP54 Single php.ini as default
AddHandler application/x-httpd-php54s .php
AuthName serviciosam.com
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*
